.font-12{
	font-size: 12px;
}
[data-dpr="2"] .font-12{
	font-size: 24px;
}
[data-dpr="3"] .font-12{
	font-size: 36px;
}
body{
	line-height: 1.3;
}
.font-14{
	font-size: 14px;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.clear:after{
	content: '';
	display: block;
	clear: both;
}
p{
	margin: 0;
}
.iblk{
	display: inline-block;
}
.vt-base{
	vertical-align: baseline;
}
.trapezoid {
	height: 0;
	border-top: .16rem solid rgb(218,227,243);
	border-left: .04rem solid transparent;
	border-right: .04rem solid transparent;
}
.w{
	width: 100%;
}
.mg-tb-30{
	margin: .2rem 0 .1rem;
}
ul{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
.mg-b-15{
	padding-bottom: .15rem;
}
.w-33{
	width: 33%;
}
.w-50{
	width: 50%;
}
.w-40{
	width: 40%
}
.w-60{
	width: 60%;
}
